/*
Theme Name: Simone
Layout: Sidebar right
*/

.site-content {
    /*padding-bottom: 4em;*/
}

.single .site-content,
.page .site-content { 
    background: #fff; 
    background: hsl(0, 0%, 100%);
}

.site-content .widget-area {
    float: right;
    width: 380px;
    padding: 4rem;
    background: #fff;
    background: hsl(0, 0%, 100%);
}

.site-footer {
    width: 100%;
    clear: both;
}

.entry-header,
.page-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: 780px;
    max-width: 78rem;
    padding: 0 4rem;
    margin: 0 auto;
}

@media screen and (max-width: 399px) {
    .entry-header,
    .page-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation { padding: 0 2rem; }
}

.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
}

.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.index-box,
.author-index {
    max-width: 780px;
    max-width: 78rem;
    padding: 1em 0 2em;
    margin: 0 auto 2em;
    background: #fff;
    background: hsl(0, 0%, 100%);
}

@media screen and (max-width: 1820px) and (min-width: 1440px) {
    .front-index-thumbnail { margin-bottom: 0; }
    
    .front-index-thumbnail .image-shifter { margin-bottom: -3.2em; }
    
    .index-box { margin-top: 0; }
}

@media screen and (min-width: 1540px) {
    .content-area {
        float: left;
        width: 100%;
        margin-right: -380px;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1539px) {
    .content-area {
        float: left;
        width: 100%;
        margin-left: -380px;
        padding-left: 380px;
    }
    
    .index-box,
    .entry-header,
    .page-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation,
    .author-index { margin-right: 0; }
    
}

@media screen and (max-width: 1159px) {  
    .site-content .widget-area {
        float: none;
        width: auto;
        max-width: 780px;
        margin: 1em auto 0;
    }
}

@media screen and (min-width: 1820px) {
    .image-shifter {
        float: none;
        width: 1060px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1540px) and (max-width: 1820px) {
    .image-shifter { margin-right: 380px;}
}

@media screen and (min-width: 1440px) and (max-width: 1819px) {
    .image-shifter {
        float: right;
        width: 1060px; 
    }
}
