/*
Theme name: Lander page for Softua
Description: Child theme of Softua that adds a custom one-page style front page
Author: Betzel Alexander
Version: 0.1
Template: softua
*/

/**{outline: 1px solid green;}*/
@import url(../softua/style.css);

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif !important;
    font-weight: normal !important;
}
h1{
    font-size: 33px;
    margin-bottom: 20px;
}
h3{
    font-size: 24px;
    padding: 10px 0px; 
}
p{
	font-size: 16px;
	color: #343434;
	font-family: Roboto, sans-serif;
	line-height: normal;
	margin-bottom: 5px;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.name_site{
    display: inline-block;
    float: left;
    font-family: Roboto_B !important;
    font-size: 27px !important;
    padding: 5px !important;
    letter-spacing: 2px;
    margin-top: 7px;
}

.main-navigation.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.shifted {
    margin-top: 54px;
}

@media screen and (max-width: 1539px) and (min-width: 1160px){ 
    .content-area.lander-page {
        margin-left: 0; 
        padding-left: 0; 
        
    }
}

.lander-page .entry-content{
	position: relative;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.front-left,
.front-right {
    width: 100%;
    float: none;
    padding: 0;
}

@media screen and (min-width: 750px) {
    .front-left {
        width: 50%;
        float: left;
        padding-right: 4rem;
    }

    .front-right {
        width: 50%;
        float: right;
        padding-left: 4rem;
    }
}

.section-title {
    margin-top: .5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.2em;
}	

/* CONTENT AREA */
.content-area {
	background: #fff;
	background: hsl(0, 0%, 100%);
}
				
/*FUTURETODAY*/ 

#futuretoday {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #F0F0F0;
}
#futuretoday .wrap_img{
    border: 7px solid #42B6F8;
    padding: 15px;
}
#futuretoday .wrap_img div>a{
    float: none;
}
#futuretoday .wrap_img .img.img-responsive{
    margin: 10px auto;
}
.second #tilltime,
.second #tilltime2,
.second #tilltime3{
	color: #DC0201;
}
.second #tilltime:before,
.second #tilltime2:before,
.second #tilltime3:before{
	content: '';
	display: inline-block;
	position: relative;
	background-image: url('images/tilltime.png');
	width: 15px;
	height: 15px;
	background-size: contain;
	margin-right: 5px;
	margin-left: 3px;
}
.second .label_price{
	position: relative;
    min-height: 100px;
}
.label_price{
	margin-top: 30px;
	margin-bottom: 30px;
}
.label_price p{
	position: relative;
	z-index: 10;
	padding-left: 20px;
}
.label_price .new_price{
	font-size: 25px;
	color: #fff;
	font-family: Roboto_B, sans-serif;
	text-shadow:-3px -1px 1px #D45400
}
.label_price .new_price span{
	font-size: 40px;
}
.label_price .old_price{
	font-size: 16px;
	color: #fff;
	font-family: Roboto, sans-serif;
}
.label_price .old_price span{
	text-decoration: line-through;
}
.label_price:before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('images/arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: inherit;
    z-index: 1; 
}
.label_price > div{
	vertical-align: middle;
	display: inline-block;
}

.thumbs.vert_middle{
	min-height: 80px;
}

.thumbs.vert_middle > .col-md-3{
	vertical-align: middle;
	display: inline-block;
	width: 24%;
	float: none;
}

.second .col-md-5{
	padding-top: 10px;
	padding-bottom: 10px;
}
.video{
	position: relative;
}
.video a.fancybox:before{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('images/play.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    min-height: inherit;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    opacity: .5;
}
.video a.fancybox:hover:before{
	opacity: 1;
}
form input{
    border: 1px solid #F39B73;
    box-shadow: 4px 4px 4px 4px;
}
.form{display:inline-block;vertical-align:middle;width:100%;border-radius:7px;color:#fff;}
input::-webkit-input-placeholder{line-height:1.6;transition:line-height 0.5s ease;}
input::-moz-placeholder{line-height:1.6;transition:line-height 0.5s ease;}
input:-moz-placeholder{line-height:1.6;transition:line-height 0.5s ease;}
input:-ms-input-placeholder{line-height:1.6;transition:line-height 0.5s ease;}
input:focus::-webkit-input-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus::-moz-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus:-moz-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus:-ms-input-placeholder{line-height:10;transition:line-height 0.5s ease;}
input.error::-webkit-input-placeholder{color:red;transition:.5s;}
input.error::-moz-placeholder{color:red;transition:.5s;}
input.error:-moz-placeholder{color:red;transition:.5s;}
input.error:-ms-input-placeholder{color:red;transition:.5s;}
.error{border:1px solid red !important;}
button.close{position:relative;z-index:10;margin-right:15px;margin-top:10px;}
.superprice{
    padding-top: 0px;
    padding-bottom: 5px;
    transform: rotate(-3deg);
    background-color: #1429A0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #F39B73;
    position: relative;
    z-index: 20;
    margin-left: -25px;
    margin-right: -25px;
}
.superprice:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0px 0px 11px;
    border-color: #932F0F transparent transparent transparent;
    line-height: 0;
    _border-color: #932F0F #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: '';
    position: absolute;
    left: -1px;
    bottom: -9px;
    transform: rotate(-3deg);
    z-index: 1;
}
.superprice:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 20px 10px 15px;
    border-color: transparent transparent transparent #932F0F;
    line-height: 0;
    _border-color: #000000 #000000 #000000 #932F0F;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: '';
    position: absolute;
    right: -20px;
    bottom: -11px;
    transform: rotate(-3deg);
    z-index: 1;
}
.superprice p{
    color: #fff;
    font-family: Roboto_B, sans-serif;
    text-transform: lowercase;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 1px #F39B73,
                -1px -1px 1px #F39B73,
                1px -1px 1px #F39B73,
                -1px 1px 1px #F39B73;
}
.countdown .col-md-3 .seconds,
.countdown .col-md-3 .minutes,
.countdown .col-md-3 .hours,
.countdown .col-md-3 .days{
    background-color: #515151;
    padding: 0px 3px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto_B, sans-serif;
    font-size: 40px;
    color: #fff;
}
.countdown .col-md-3 .textSeconds,
.countdown .col-md-3 .textMinutes,
.countdown .col-md-3 .textHours,
.countdown .col-md-3 .textDays{
    font-family: Roboto_B, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-style: normal;
    color: #525252;
}
.countdown .item{
    width: 25%;
}
.form_block{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px #ddd;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}
.form_block .ujicf span{
    text-transform: uppercase;
    font-family: Roboto_B, sans-serif !important;
}
.form_block > .row.last{
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.form_block .btn.btn-default.btn-block{
    width: 80%;
    margin: auto !important;
    position: relative;
    min-height: 50px;
    z-index: 10;
    background-image: url('images/button.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    color: #fff;
    font-family: Roboto_B, sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    text-shadow: 2px 2px 4px #7A190A;
}
.form_block .btn.btn-default.btn-block:hover{
    background-image: url('images/button_hover.png') !important;
    text-shadow: -2px -2px 4px #7A190A;
}
form .form-group{
    margin-bottom: 15px;
    position: relative;
}
form > div > .form-group:first-child{
    position: relative;
}
form .form-group:first-child:after{
    content: '';
    display: inline-block;
    position: absolute;
    color: #ddd;
    right: 30px;
    top: 0px;
    border-left: 1px solid red;
    height: inherit;
}
form .form-group:first-child .minus{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    border-color: #ddd transparent transparent transparent;
    line-height: 0;
    _border-color: #ddd #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: '';
    position: absolute;
    right: 5px;
    bottom: 3px;
    z-index: 1;
}
form .form-group:first-child .minus:hover{
    border-color: #999 transparent transparent transparent;
    _border-color: #999 #000000 #000000 #000000;
}
form .form-group:first-child .plus{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 7px 7px 7px;
    border-color: transparent transparent #ddd transparent;
    line-height: 0;
    _border-color: #000000 #000000 #ddd #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: '';
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 1;
    display: block;
}
form .form-group:first-child .plus:hover{    
    border-color: transparent transparent #999 transparent;
    _border-color: #000000 #000000 #999 #000000;
}
form .phone{
    position: relative;
}
form .phone:before{    
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('images/phone.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 7px;
    z-index: 1; 
    opacity: .8;
}
form .phone:hover:before,
form .phone:focus:before{
    opacity: 1;
}
form .phone > input{
    padding-left: 35px;
}
#futuretoday .col-md-12{
    margin-top: 20px;
}
.uji-msg-ok{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal-header .close{
    padding: 5px 7px;
}


/* TESTIMONIALS */ 

#testimonials {
    background-color: #fff;
    margin: 0;
    list-style: none;
}

#testimonials .position{
    text-transform: lowercase;
}

#testimonials .item_block{
    margin-bottom: 20px;
}

.testimonial-thumb {
    max-width: 30%;
    height: auto;
    float: left;
}

.testimonial-name {
    font-weight: bold;
    font-size: 20px;
}

.testimonial-excerpt {
    font-size: 16px;
    font-size: 1.6rem;
}

/* TESTIMONIALS RESPONSIVE */ 

@media screen and (min-width: 650px) {
    .testimonials li {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: 950px) {
    .testimonials li {
        width: 33.3333333333%;
        padding: 2rem 4rem;
        float: left;
    }
    .testimonial-thumb {
        max-width: 210px;
        margin: 0 auto;
        float: none;
    }
    
    .testimonial-text {
        float: none;
        width: auto;
        margin: 0;
    }
    
    .testimonial-name {
        text-align: center;
    }
}
    

/* WHYWE */ 

#whywe {
    background-color: #EFEFEF;
}
#whywe .section-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #8abf5e;
}

#whywe .col-md-3{
    margin-bottom: 20px;
}

#whywe .col-md-3 img{
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}


.whywe-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 24px;
    line-height: 1em;
}


/* THOUSANDS */ 

#thousands {
	color: #000;
	background: #ADA7A7;
}

#thousands .section-title {
    text-align: center;
}

#thousands .countdown .col-md-3 .seconds, 
#thousands .countdown .col-md-3 .minutes, 
#thousands .countdown .col-md-3 .hours, 
#thousands .countdown .col-md-3 .days{
    font-size: 26px;
}

.thousands-content h2 {
    font-weight: bold;
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

/* CONTACT */ 

footer ul.nav-justified{
    margin: 0;
}
footer ul.nav-justified li{
    text-align: center;
}
footer .nav-justified li button{
    background-color: transparent;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
}
footer .nav-justified li button:hover{
    text-decoration: underline;
}
.main-navigation a{
    padding: 15px;
}
.main-navigation a:hover{
    text-decoration: underline;
}
.jCountdown.flip .group.second>.label,
.jCountdown.flip .group.minute>.label,
.jCountdown.flip .group.hour>.label,
.jCountdown.flip .group.day>.label{
    display: block;
    width: 100%;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    font-family: Roboto_B, sans-serif;
    text-align: center;
    background-image: none;
    margin-left: -50px;
}

@media screen and (max-width: 991px){
    #menu-phone{
        display: inline;
    }
    header #site-navigation .col-md-4{
        display: inline-block;
    }
    .countdown div[id*="jCountdown"]{
        display: block;
        margin: auto;
        width: 263px !important;
    }

    .countdown div[id*="jCountdown"] .jCountdownContainer{
        width: 262px !important;
        height: 60px !important;
    }
    .countdown div[id*="jCountdown"] .jCountdownContainer .jCountdownScale{
        top: -50px !important;
    }
    #thousands .countdown div[id*="jCountdown"]{
        /*margin-bottom: 10px;*/
    }
    #thousands .countdown div[id*="jCountdown"] .jCountdownContainer .jCountdownScale{
        transform: scale(0.625) !important;
        left: -78px !important;
        top: -45.75px !important;
    }
    .name_site{
        position: relative;
        z-index: 10;
        margin-top: 0px;
    }
    .second .label_price{
        width: 40%;
    }
    .video{
        width: 40%;
        margin: auto;
    }
    .thumbs.row{
        margin-right: 0px;
    }
    #uji-wrapper{
        width: 50%;
        margin: auto !important;
        display: block !important;
    }
    .item_block .col-md-4{
        padding-right: 0px;
    }
    .item_block .col-md-4 img{
        margin: auto !important;
        display: block !important;
    }
    .item_block .col-md-8{
        padding-left: 0px;
    }
    .item_block .testimonial-name{
        text-align: center;
    }
    .testimonial_name{
        text-align: center;
    }
    .form_block{
        display: block;
        width: 50%;
        margin: auto;
    }
    #whywe .container .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    #thousands .col-md-3 img{
        display: block;
        margin: auto;
    }
    #testimonials .second,
    #futuretoday .second,
    #thousands .second{
        padding-left: 0px;
        margin-top: 40px;
    }
    .second .col-md-5{
        padding-bottom: 40px;
    }
    footer ul.nav-justified li{
        list-style: none;
        display: block;
        margin: 10px auto;
        width: 100%;
    }
}
@media screen and (max-width: 767px){
    .menu-toggle{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .form_block{
        width: 80%;
    }
    #menu-phone ul{
        position: relative;
        right: 0px;
    }
    #menu-phone ul li{
        display: inline;
    }
    .main-navigation li a{
        padding: 15px;
    }
    .main-navigation li:hover > a, .main-navigation li > a:focus{
        background-color: transparent;
    }
}
@media screen and (max-width: 535px){
    .name_site{
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    #site-navigation .col-md-4{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    #site-navigation .col-md-4 > p{
        margin-bottom: 0px !important;
    }
    #site-navigation .col-md-4 > p a{
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .main-navigation li a{
        padding-top: 4px;
        padding-bottom: 10px;
    }
    .video{
        width: 60%;
    }
    .second .label_price{
        width: 50%;
    }
}
@media screen and (max-width: 410px){    
    .second .label_price{
        width: 70%;
    }
}
@media screen and (max-width: 380px){
    .countdown div[id*="jCountdown"]{
        width: 212px !important;
    }
    #thousands .countdown div[id*="jCountdown"] .jCountdownContainer,
    .countdown div[id*="jCountdown"] .jCountdownContainer{
        width: 212px !important;
        height: 45px !important;
    }
    #thousands .countdown div[id*="jCountdown"] .jCountdownContainer .jCountdownScale,
    .countdown div[id*="jCountdown"] .jCountdownContainer .jCountdownScale{
        transform: scale(0.509615) !important;
        left: -102px !important;
        top: -50px !important;
    }
    body{
        overflow: hidden;        
    }    
    section{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width: 345px){
    #site-navigation .col-md-4 > p a{
        padding-left: 5px !important;
        padding-right: 2px !important;
    }
}